*{
   
}
#navbar{
    background-color: blue;
    color: white;
    
    text-align: center;
    
    
}
ul{
    list-style-type: none;

}
li{
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}
#content{
    background-color: rgb(242, 238, 246);
    color:black;
    height: 100%;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
    margin: 20px;
    
}